extends  ../components/frames.pug
block script
    script(src="scripts/doctor/allDoctor.js" type="module") 
block content 
    .allDoctor
        .allDoctor-title.main-title All Doctor
        .allDoctor-content.row

