extends  ../components/frames.pug
block script 
    script(src="scripts/emergency/emergencyList.js" type="module") 
block content 
    .emergencyList
        .emergencyList-title.main-title Patient List
        .emergencyList-content
            table#emergencyTable(style='width:100%')