.dashboard {
  canvas:not(.topDiseases canvas) {
    min-height: 300px;
  }
}

.col-xl-4.col-md-6:nth-child(3) {
  .welcome-content-logo {
    background: url(../../assets/imgs/backgroundbed.svg);
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
}

.welcome {
  justify-content: center;
}

.welcome-content {
  &-info {
    div {
      color: var(--header-title);
      font-weight: 800;
    }
  }
}

.topDiseases {
  &-content {
    align-items: center;
    justify-content: center;
    canvas {
      max-width: 280px;
      max-height: 280px;
    }
  }
}

.topDoctor-content {
  &-item {
    justify-content: space-between;
    &-info {
      flex: 1;
      margin-left: 23px;
    }
    &-rate {
      .reviews {
        font-size: 13px;
        text-align: end;
      }
      .star {
        img {
          margin-left: 0.25rem;
        }
      }
    }
  }
}

.recentPatient-content {
  &-item {
    align-items: center;
    justify-content: space-between;
  }
}
